/*! Riestart | github.com/richardvanaalst/riestart.css */

:root {
  --ON: initial;
  --OFF: "";
}

html {
  font: 1rem/1.5 system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.375;
}

h1, h2, h3, h4, p {
  margin-block: 0;
}

h1, h2, h3, h4 {
  line-height: 1.125;
}

p {
  max-width: 70ch;
}

a {
  text-decoration: none;
}

p a {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

textarea {
  resize: vertical;
}

table {
  width: 100%;
}

:target {
  scroll-margin-block: 2em;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
